entornos_de_desarrollos/ETS_P3/Ejercicio3_2/obj/Debug/net6.0/Ejercicio3_2.GeneratedMSBuildEditorConfig.editorconfig
entornos_de_desarrollos/ETS_P3/Ejercicio3_2/obj/Debug/net6.0/Ejercicio3_2.assets.cache
entornos_de_desarrollos/ETS_P3/HOLA_ETS/obj/Debug/net6.0/HOLA_ETS.GeneratedMSBuildEditorConfig.editorconfig
entornos_de_desarrollos/ETS_P3/HOLA_ETS/obj/Debug/net6.0/HOLA_ETS.assets.cache