body {
  background-color: rgb(226, 221, 216);
}

p.cabecera {
  color: white;
  background-color: rgb(102, 153, 102);
  text-align: right;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  margin-top: -0.5em;
  background-color: rgb(212, 184, 184);
  text-decoration: underline;
  text-transform: capitalize;
  letter-spacing: 10px;
}

div.intro {
  margin-left: 15%;
  margin-right: 15%;
  font-family: "Comic Sans MS";
  border-color: rgb(200, 218, 200);
  border-left-style: dotted;
  border-right-style: dotted;
  text-indent: 2em;
}

div.par > h2 {
  margin-top: -0.05em;
  background-color: rgb(108, 11, 25);
  color: white;
}

p > span.organismo {
  background-color: black;
  color: white;
}

p span.proyecto {
  font-style: italic;
  font-weight: bold;
  text-decoration: underline dotted;
  text-decoration-color: white;
}

div.par {
  margin-left: 35%;
  border-style: solid;
  border-color: rgb(108, 11, 25);
  background-color: rgb(212, 184, 184);
  margin-top: 2%;
  text-indent: 2em;
}

div.impar > h2 {
  margin-top: -0.05em;
  background-color: rgb(102, 153, 102);
  color: white;
}

div.impar {
  background-color: rgb(200, 218, 200);
  margin-right: 35%;
  border-style: solid;
  border-color: rgb(102, 153, 102);
  margin-top: 2%;
  text-indent: 2em;
}

p span.persona {
  font-weight: bold;
  text-decoration: underline;
}

address {
  background-color: rgb(212, 184, 184);
  border-top-style: double;
  border-color: rgb(108, 11, 25);
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
}
