table {
  border-style: solid;
  border-width: 0.2em;
  border-color: black;
  width: 25em;
  height: 25em;
}

td.negro {
  background-color: black;
}

td.blanco {
  border-style: solid;
  border-width: 0.1em;
}

td#peon_negro {
  background-image: url(../../imagenes/Peon-Negro.png);
}

td#peon_blanco {
  background-image: url(../../imagenes/Peon-Blanco.png);
}
