body {
  background-color: lightgrey;
}

h1 {
  text-align: center;
}

#m1 {
  background-color: #dbc9a6;
  position: relative;
  text-align: center;
  border-style: solid;
  border-color: #c8b99a;
  padding-bottom: 30px;
  margin: 0 auto;
  width: 1000px;
}

#m2 {
  background-color: #91ff91;
  border-style: solid;
  border-color: #7ad87a;
  text-align: center;
  z-index: 5;
  width: 400px;
  height: 150px;
  margin: 0 auto;
  position: relative;
  bottom: -120px;
}

#m3 {
  background-color: #ffffb3;
  border-style: solid;
  border-color: #f0f0a8;
  width: 500px;
  height: 150px;
  position: relative;
  bottom: 160px;
  margin-left: 10%;
}

#m4 {
  background-color: #c6ffff;
  border-style: solid;
  border-color: #a3d2d2;
  text-align: right;
  width: 500px;
  height: 150px;
  position: relative;
  bottom: 330px;
  left: 55%;
}

#m5 {
  background-color: #ffe5ff;
  border-style: solid;
  border-color: #d1bcd1;
  width: 500px;
  height: 150px;
  position: relative;
  bottom: 290px;
  margin-left: 10%;
}

#m6 {
  background-color: #ffb4b4;
  border-style: solid;
  border-color: #946c6c;
  text-align: right;
  width: 500px;
  height: 150px;
  position: relative;
  bottom: 460px;
  left: 55%;
}

