body {
  background-color: #fddbbd;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: #b4b1b0;
  font-weight: bold;
  text-transform: capitalize;
}

p {
  border-style: dotted;
  border-color: #e7c499;
  background-color: #f2d0ab;
  font-style: italic;
  float: left;
  padding-bottom: 200px;
  width: 250px;
  height: 50px;
  margin: 10px;
  font-size: 18px;
  line-height: 37px;
}

p::first-letter {
  font-size: 50px;
  vertical-align: -22%;
  color: #c9a66a;
  font-style: normal;
  float: left;
}
