body {
  background-color: yellow;
  background-image: url("../imagenes/notepad.jpg");
  background-repeat: repeat-y;
  padding-left: 150px;
}

h1 {
  border-style: solid;
  border-color: white;
  background-color: blue;
}

h2 {
  background-color: red;
}

li {
  background-color: white;
  border-color: blue;
  border-style: dashed;
}

ul {
  background-color: aquamarine;
}