-- create database cinebasicas
-- go

/****** Object:  Table [dbo].[ActividadesCineSpain]    Script Date: 23/11/2015 19:16:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
if object_id('ActividadesCineSpain','U') is not null
  drop table ActividadesCineSpain;
  go
CREATE TABLE [dbo].[ActividadesCineSpain](
	[agno] int primary key,
	[Npantallas] int NULL,
	[Nlargometrajes] int NULL,
	[EspectPeliculasNacional] numeric(18,2) NULL,
	[EspectPeliculasExtranjeras] numeric(18,2) NULL,
	[RecPeliculasNacional] numeric(18,2) NULL,
	[RecPeliculasExtranjeras] numeric(18,2) NULL,
	[GastoMedioHabitante] numeric(18,2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CineexhibidoCA]    Script Date: 23/11/2015 19:16:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
if object_id('CineexhibidoCA','U') is not null
  drop table CineexhibidoCA;
  go
CREATE TABLE [dbo].[CineexhibidoCA](
	[Id] int primary key,
	[CA] nvarchar(255) NULL,
	[Npeliculas] int NULL,
	[agno] int NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DatosRecaudacionSpain]    Script Date: 23/11/2015 19:16:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
if object_id('DatosRecaudacionSpain','U') is not null
  drop table DatosRecaudacionSpain;
  go
CREATE TABLE [dbo].[DatosRecaudacionSpain](
	[Id] int primary key,
	[LargometrajesNacional] numeric(18,2) NULL,
	[LargometrajesExtranjeros] numeric(18,2) NULL,
	[fecha] datetime NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RecaudacionPeliculas]    Script Date: 23/11/2015 19:16:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
if object_id('RecaudacionPeliculas','U') is not null
  drop table RecaudacionPeliculas;
  go
CREATE TABLE [dbo].[RecaudacionPeliculas](
	[Id] int primary key,
	[Titulo] nvarchar(255) NULL,
	[Estudio] nvarchar(255) NULL,
	[agno] int NULL,
	[RecUSA] numeric(18,2) NULL,
	[RecResto] numeric(18,2) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[ActividadesCineSpain] ([agno], [Npantallas], [Nlargometrajes], [EspectPeliculasNacional], [EspectPeliculasExtranjeras], [RecPeliculasNacional], [RecPeliculasExtranjeras], [GastoMedioHabitante]) VALUES (1986, 2640, 4076, 11.6, 75.7, 18.19, 128.19, 3.77)
INSERT [dbo].[ActividadesCineSpain] ([agno], [Npantallas], [Nlargometrajes], [EspectPeliculasNacional], [EspectPeliculasExtranjeras], [RecPeliculasNacional], [RecPeliculasExtranjeras], [GastoMedioHabitante]) VALUES (1987, 2234, 3680, 12.6, 73, 21.98, 131.45, 4.06)
INSERT [dbo].[ActividadesCineSpain] ([agno], [Npantallas], [Nlargometrajes], [EspectPeliculasNacional], [EspectPeliculasExtranjeras], [RecPeliculasNacional], [RecPeliculasExtranjeras], [GastoMedioHabitante]) VALUES (1988, 1882, 3250, 8.1, 61.5, 15.47, 123.42, 2.68)
INSERT [dbo].[CineexhibidoCA] ([Id], [CA], [Npeliculas], [agno]) VALUES (1, N'Andalucía', 621, 2003)
INSERT [dbo].[CineexhibidoCA] ([Id], [CA], [Npeliculas], [agno]) VALUES (2, N'Aragón', 592, 2003)
INSERT [dbo].[CineexhibidoCA] ([Id], [CA], [Npeliculas], [agno]) VALUES (3, N'Asturias, Principado de', 368, 2003)
GO
set dateformat ymd;
INSERT [dbo].[DatosRecaudacionSpain] ([Id], [LargometrajesNacional], [LargometrajesExtranjeros], [fecha]) VALUES (1, 4633866.26, 42593600.78, CAST(N'2014-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[DatosRecaudacionSpain] ([Id], [LargometrajesNacional], [LargometrajesExtranjeros], [fecha]) VALUES (2, 2689237.72, 29642294.81, CAST(N'2014-02-01 00:00:00.000' AS DateTime))
INSERT [dbo].[DatosRecaudacionSpain] ([Id], [LargometrajesNacional], [LargometrajesExtranjeros], [fecha]) VALUES (3, 18461660.84, 31693582.11, CAST(N'2014-03-01 00:00:00.000' AS DateTime))
GO
set dateformat ymd;
go
INSERT [dbo].[RecaudacionPeliculas] ([Id], [Titulo], [Estudio], [agno], [RecUSA], [RecResto]) VALUES (1, N'Gone with the Wind', N'MGM', 1939, 198.7, 201.5)
INSERT [dbo].[RecaudacionPeliculas] ([Id], [Titulo], [Estudio], [agno], [RecUSA], [RecResto]) VALUES (2, N'Bambi', N'RKO', 1942, 102.2, 165.2)
INSERT [dbo].[RecaudacionPeliculas] ([Id], [Titulo], [Estudio], [agno], [RecUSA], [RecResto]) VALUES (3, N'101 Dalmatians', N'Dis.', 1961, 144.9, 71)
GO

--1
select Titulo + ' es una película del año '+ STR(agno,4,0) + ' y del estudio: ' + Estudio as 'Peliculas'
from RecaudacionPeliculas
where agno between 1980 and 1989 and Estudio like '[^A,E,I,O,U]___';

--2
select SUM(Npeliculas) as TotalPeliculas
from CineexhibidoCA
where CA = 'Canarias' and agno in (2005, 2008, 2010, 2014);

--3
select top 3 Titulo
from RecaudacionPeliculas
where agno between 2010 and 2014
order by RecUSA desc;

--4
select DATENAME(MONTH, fecha) as Meses, SUM(LargometrajesExtranjeros) + SUM(LargometrajesNacional) as RecaudacionAcumulada
from DatosRecaudacionSpain
group by DATENAME(MONTH, fecha)
order by SUM(LargometrajesExtranjeros) + SUM(LargometrajesNacional) desc;

--5
select Titulo, SUM(RecUSA)+ SUM(RecResto) as RecaudacionTotal
from RecaudacionPeliculas
where Titulo like '%war%' and agno > 1980
group by Titulo
having SUM(RecUSA)+ SUM(RecResto) > 100
order by SUM(RecUSA)+ SUM(RecResto) desc;

--6
if object_id('datoscine') is not null
	drop table datoscine;
else 
	create table datoscine (
		id int primary key identity,
		titulo varchar(100) not null,
		fechaextreno datetime null,
		recaudacion numeric(14,2) null,
		clasificacion int default 5 null
	);

--7
insert datoscine (titulo, fechaextreno, recaudacion) values ('Star Wars: Episode I - The Phantom Menace', '19/5/1999', 1027.01);
set identity_insert datoscine on
insert datoscine (id, titulo, fechaextreno, recaudacion, clasificacion)
values (987, 'Star Wars: Episode II - Attack of the Clones', '16/5/2002', 649.40, null);

--8
update datoscine
set id = 8
where id = 987;

delete from datoscine
where id = 987;

--9
select COUNT(Titulo) as NumerosPeliculas, SUM(RecUSA) + SUM(RecResto) as TotalRecaudacion, agno, Estudio
from RecaudacionPeliculas
group by agno, Estudio
having COUNT(Titulo) > 6
order by agno, Estudio;

--10
select SUM(LargometrajesExtranjeros) + SUM(LargometrajesNacional) as NumeroDeLargometraje,
	   DATENAME(MONTH, fecha) as Mes
from DatosRecaudacionSpain
where DATENAME(MONTH, fecha) like '%r%'
group by DATENAME(MONTH, fecha), DATEPART(MONTH, fecha)
order by DATEPART(MONTH, fecha) asc 

--11
select agno , SUM(Npantallas) as CuantasPantallas, SUM(Nlargometrajes) as CuantosLargometrajes, SUM(EspectPeliculasExtranjeras) as EspectadoresExtranjeros
from ActividadesCineSpain
group by agno
having SUM(RecPeliculasExtranjeras) > 300
order by agno;

--12
select top 1 with ties Estudio, COUNT(Titulo) as CuantasPeliculas
from RecaudacionPeliculas
where Estudio like '___'
group by Estudio
having COUNT(Titulo) < 10
order by COUNT(Titulo) desc;







